extends layout

block content
    div.page-content

        div.page-content--top

            nav
                .menu-container
                    span.menu-container--line
                    span.menu-container--line


            div.play-content
                div.play-content--button
                    div.play-content--button--triangle

        div.page-content--center
            div.page-content--center--top
                h1.page-content--center--top--text= 'god zilla'
            div.page-content--center--bottom
                h1.page-content--center--bottom--text= 'king of the monster'
