body {
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("../images/bgimage.jpg");
  background-repeat: no-repeat; }
  @media screen and (min-width: 320px) {
    body {
      background-position-x: 90%;
      background-size: 230%; } }
  @media screen and (min-width: 375px) {
    body {
      background-position-x: 92%;
      background-size: 240%; } }
  @media screen and (min-width: 768px) {
    body {
      background-position-y: 40%;
      background-size: cover; } }

a {
  color: #00B7FF; }

.page-content {
  background-color: rgba(195, 47, 1, 0.5);
  width: 100%;
  display: flex;
  flex-direction: column; }
  @media screen and (min-width: 768px) {
    .page-content nav {
      margin-left: 40%;
      margin-right: 10%; } }
  .page-content--top {
    display: flex;
    flex-direction: row; }
    @media screen and (min-width: 320px) {
      .page-content--top {
        margin-top: 10%;
        flex-wrap: nowrap; } }
    @media screen and (min-width: 768px) {
      .page-content--top {
        margin-top: 3%;
        flex-wrap: wrap; } }
  .page-content--center {
    flex-direction: column;
    flex-wrap: nowrap; }
    @media screen and (min-width: 320px) {
      .page-content--center {
        margin-top: 10%; } }
    @media screen and (min-width: 768px) {
      .page-content--center {
        margin-top: 7%; } }
    .page-content--center--top {
      color: #ffffff; }
      @media screen and (min-width: 320px) {
        .page-content--center--top {
          width: 50%;
          margin: 0 0 0 0;
          padding: 0 2rem 0 2rem; } }
      @media screen and (min-width: 768px) {
        .page-content--center--top {
          margin-left: 40%;
          margin-top: -98%;
          width: 40%; } }
      .page-content--center--top--text {
        text-transform: uppercase;
        font-weight: 100;
        font-variant: normal;
        line-height: 1.6em;
        font-family: Impact, fantasy;
        margin-bottom: 0; }
        @media screen and (min-width: 320px) {
          .page-content--center--top--text {
            font-size: 5rem; } }
        @media screen and (min-width: 375px) {
          .page-content--center--top--text {
            font-size: 6rem; } }
        @media screen and (min-width: 768px) {
          .page-content--center--top--text {
            font-size: 10rem; } }
    .page-content--center--bottom {
      color: #ffffff; }
      @media screen and (min-width: 320px) {
        .page-content--center--bottom {
          width: 50%;
          margin-left: 45%;
          margin-bottom: 9%; } }
      @media screen and (min-width: 375px) {
        .page-content--center--bottom {
          margin-bottom: 12.5%; } }
      @media screen and (min-width: 768px) {
        .page-content--center--bottom {
          margin-bottom: 6%; } }
      .page-content--center--bottom--text {
        text-transform: uppercase;
        font-weight: 100;
        font-family: Impact, fantasy;
        margin: 0; }
        @media screen and (min-width: 320px) {
          .page-content--center--bottom--text {
            font-size: 1.8rem; } }
        @media screen and (min-width: 375px) {
          .page-content--center--bottom--text {
            font-size: 2rem; } }
        @media screen and (min-width: 768px) {
          .page-content--center--bottom--text {
            font-size: 3.5rem; } }

.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer; }
  @media screen and (min-width: 320px) {
    .menu-container {
      width: 2.4rem;
      height: 1.3rem;
      margin-left: 30%;
      padding: 1rem; } }
  @media screen and (min-width: 768px) {
    .menu-container {
      width: 3rem;
      height: 1.3rem;
      margin-left: 30%;
      padding: 1rem; } }
  .menu-container--line {
    background-color: white;
    display: inline-block;
    width: 100%; }
    @media screen and (min-width: 320px) {
      .menu-container--line {
        height: 7px; } }

.play-content {
  background-image: url("../images/bgplay.jpg");
  background-size: cover;
  background-position: center; }
  @media screen and (min-width: 320px) {
    .play-content {
      width: 4rem;
      height: 3rem;
      margin-left: 35%;
      padding: 1.5rem; } }
  @media screen and (min-width: 768px) {
    .play-content {
      margin-left: 5%;
      margin-top: 85%;
      width: 14rem;
      height: 9rem; } }
  .play-content--button {
    border-radius: 50%;
    cursor: pointer; }
    @media screen and (min-width: 320px) {
      .play-content--button {
        width: 60px;
        height: 60px;
        border: 5px solid azure;
        margin-top: -15%; } }
    @media screen and (min-width: 768px) {
      .play-content--button {
        width: 140px;
        height: 140px;
        border: 8px solid azure;
        margin-top: .1%;
        margin-left: 10%; } }
    .play-content--button--triangle {
      content: '';
      left: 20px;
      bottom: -20px; }
      @media screen and (min-width: 320px) {
        .play-content--button--triangle {
          margin-top: 35%;
          margin-left: 40%;
          border: 10px solid transparent;
          border-left: 20px solid white; } }
      @media screen and (min-width: 768px) {
        .play-content--button--triangle {
          margin-top: 35%;
          margin-left: 40%;
          border: 20px solid transparent;
          border-left: 40px solid white; } }

/*# sourceMappingURL=style.css.map */